# Virtual environment
.venv/
venv/
ENV/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Datasets and downloaded images
bird_or_not/
bird.jpg
forest.jpg
brain-tumor-mri-dataset.zip
tumors/

# Saved models (fastai saves weights here by default)
models/

# Downloaded packages / system files
*.rpm
brain_tumor_classifier.pkl
